:root {
  font: message-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  background: -moz-Dialog;
  color: -moz-DialogText;
  padding: 8px;
}

form {
  display: flex;
  gap: 6px;
  width: 100%;
}

input {
  flex: 1;
  padding: 4px 8px;
  border: 1px solid ThreeDShadow;
  background: Field;
  color: FieldText;
  font: message-box;
}

button {
  font: message-box;
  padding: 4px 16px;
}
